@charset 'utf-8';
@import 'media_query.scss';
@import 'global.scss';
@import 'layout.scss';
@import 'nav.scss';
@import 'filter.scss';
@import 'map.scss';
@import 'risto_card.scss';
@import 'risto_detail.scss';
//debug
.debug {
  @include phone {
    header {
      border: 2px solid red;
    }
  }
  @include tablet-p {
    header {
      border: 2px solid yellow;
    }
  }
  @include tablet-l {
    header {
      border: 2px solid green;
    }
  }
  @include desk {
    header {
      border: 2px solid blue;
    }
  }
}
